<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Наложение слоев</title>
    <style type="text/css">
        body {
            margin: 8px;
        }

        .layer1 {
            position: relative;
            padding: 10px;
            background: #3C8057;
            color: white;
            font: 1.1em Times;
        }

        .layer2 {
            position: absolute;
            left: 38px;
            right: 7px;
            top: 42px;
            padding: 10px;
            background: #D9E0DC;
            border: 1px solid white;
        }
    </style>
</head>
<body>
    <div class="layer1">
        Анапест как композиционный анализ
    </div>
    <div class="layer2">
        Рифма существенно осознаёт лирический дактиль, несмотря на отсутствие единого пунктуационного алгоритма. Из нетрадиционных способов циклизации обратим внимание на случаи, когда эвокация однородно дает резкий анапест, туда же попадает и еще недавно вызывавший безусловную симпатию гетевский Вертер.
    </div>
</body>
</html>