<!-- Main -->
<div id="main">
    <div class="sidepanel">
        <div class="container searchpanel">

        </div>
        <div class="container categories">

        </div>
    </div>
    <div class="content">
        Content
    </div>

</div>
<!-- End Side Full -->



