@model ShopAround.Models.UiShopItem

@{
    ViewBag.Title = "ShowItem";
}

<h2>ShowItem</h2>


@Html.Partial("_ShowPartial")

@using (Html.BeginForm("AddItemToCart", "Cart", new { id = Model.Id }, FormMethod.Post))
{
    <input type="submit" value="Add to cart" />
}