.header{
    background: url(images/header.gif);
    height:64px
}

.shell{
    margin: 0 auto;
    width: 960px;
    background: #fff;
    padding: 10px 10px 10px 10px
}

.logo{
    height: 64px;
    width: 160px;
    float: left;
    font-size: 0px
}

.logo a{
    background: url(images/logo.gif);
     height: 64px;
     display: block;
     text-indent: -4000px
}


.cart{
    background: #8b0000;
    float: right;
    width: 160px;
    height: 51px;
    color: white;
    padding: 13px 10px 0px 10px
}

.cart-link{
    background: url(images/cart-link.gif) no-repeat 0 0;
    color: white;
    text-decoration: none;
    padding: 0px 0px 0px 32px
}

.cart-link:hover{
    text-decoration:underline;
}

.cl{
    color:white;
    height: 0px
}

.navigation{
    float: right;
    height: 64px
}

.navigation ul{
    list-style-type: none;
    float: left;
    height: 64px;
    margin: 0px 0px 0px 0px
}

.navigation ul li{
    float: left;
    height: 64px;
    color: white;
    font-weight: bold;
}
    .navigation ul li a {
        height: 64px;
        line-height: 64px;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 10px;
        display: block
    }

    .navigation ul li.login-li a {
        height: auto;
        line-height: 32px;
        text-decoration: none;
        color: white;
        padding: 0px 10px 0px 10px;
    }

    .navigation ul li a.active,
    .navigation ul li:hover a {
        background-color: white;
        color: #8b0000;
    }

    

.footer{
    background: #ebebeb;
    height: 51px;
    padding: 0px 15px 0px 15px;
    font-size: 12px;
    color: #7b7b7b;
}

.footer .left{
    float: left;
    margin: 0px 0px 0px 0px;
    height: 51px;
    line-height: 50px
}

    .footer .left a {
        text-decoration: none;
        color: #7b7b7b;
    }

    .footer .left a:hover {
        color: #000000;
    }

.footer .left span {
    padding: 0px 2px 0px 0px
}

.footer .right{
    float: right;
    margin: 0px 0px 0px 0px;
    height: 51px;
    line-height: 50px
}

#main{
    padding: 10px 0px 0px 0px;
    overflow: auto
}

.sidepanel{
    float: left;
    width: 226px;
}

.content{
    float: right;
    width: 724px;
}

.container{

}

.item-info{
    position:absolute;
    top: 220px;
    left:10px;
    width: 153px;
}

.item-info h3{
    background-color: #8b0000;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px
}


.content ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow: auto
}

.content ul li{
   position:relative;
    float: left;
    display: block;
    margin: 5px 5px 5px 5px;
}

.content ul li div{
    padding: 2px 2px 2px 2px;
    border: 1px solid #dedede
}

.content ul img{
    width: 225px;
    height:383px
}

.content ul li div.item-desc{
    background: url(images/info.png);
    padding: 5px 5px 5px 5px;
    height: 100px;
}

.content ul li div.item-info{
    border: none
}

.content ul li div.item-desc p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 0px 0px
}

strong.price{
    display: block;
    font-size: 21px;
    color: #8b0000
}

.admin-links{
    background-color: #8b0000;
}


.admin-links a{
    display: inline-block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: white
}

.admin-links a:hover{
    color: #8b0000;
    background-color: white
}

.box{ 
    padding:1px; 
    border:solid 1px #dedede; 
    margin-bottom:10px;
}

.categories{ 
    min-height:423px;
    margin: 0px 0px 0px 0px
}

h2{ 
    font-size:14px; line-height:16px; 
}

.box-content{ 
    padding:5px;
}

.box h2{ 
    background:#7f7f7f;
    color:#fff; 
    font-weight: normal; 
    padding:0 5px; 
    position:relative; 
    height:27px; 
    line-height:27px; 
    margin: 0px 0px 0px 0px
}

.box h2 span
{ 
    position:absolute; 
    width:10px; 
    height:5px; 
    background:url(images/h2-arr.gif); 
    top:27px; 
    right:10px; 
    font-size:0; 
    line-height:0;
}

.categories ul{ 
    list-style-type: none; 
    font-size:13px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.categories ul li
{ 
    border-bottom:dashed 1px #ccc; 
    padding:5px 0;
}

.categories ul li a{ 
    color:#5f5f5f; 
    text-decoration: none; 
    background:url(images/cat.gif) no-repeat 0 4px; 
    padding-left:17px;
}

.categories ul li a.active{ 
    font-weight: bold
}

.content-pages{
    float: right
}

.content-pages ul{
    margin: 0px 0px 0px 0px;
    overflow: hidden
}

.content-pages ul li{
    margin: 0px 0px 0px 0px;
    background-color: #8b0000;
}

.content-pages ul li:hover{
    margin: 0px 0px 0px 0px;
}

.content-pages ul li a{
    text-decoration: none;
    padding: 5px 5px;
    color: white;
}

.content-pages ul li a.active,
.content-pages ul li a:hover{
    color: #8b0000;
     background-color: #fff;
}

#slider { 
    height:252px; 
    position:relative; 
    overflow:hidden; 
    margin: 0px 0px 0px 0px;
}
#slider-holder { 
    width:720px; 
    height:252px; 
    position:relative; 
    overflow:hidden; 
}

#slider-holder ul{ 
    width:720px; 
    height:252px; 
    position:relative; 
    overflow:hidden; 
    list-style-type: none;
}

#slider-holder ul li{ 
    width:720px; 
    height:252px; 
    position:relative; 
    overflow:hidden; 
    float:left; 
    margin: 0px 0px 0px 0px;
}

#slider-holder ul li img{ 
    width:auto; 
    height:auto; 
}

a { 
    color:#8b0000; 
    text-decoration: underline; 
    cursor:pointer; 
}

#slider-nav { 
    position:absolute; 
    top:231px; 
    left:644px; 
    z-index:2;
}

#slider-nav a:hover,
#slider-nav a.active { 
    background:#fff;
}

#slider-nav a{ 
    font-size:0; 
    line-height:0; 
    text-indent: -4000px; 
    width:10px; 
    height:10px; 
    border:solid 1px #8b0000; 
    background:#8b0000; 
    float:left; 
    margin-right:5px; 
}

.search { 
    min-height:210px;
}
.search label {
     display:block; 
     padding-bottom:3px; 
}
.field { 
    background:#ebebeb; 
    border:solid 1px #dedede; 
    padding:2px;
}

.search .field { 
    display:block; 
    margin-bottom:10px; 
}

.search input.field { 
    width:206px; 
}

.search select.field { 
    width:212px; 
}

.search select.small-field { 
    width:50px; 
}

.search .inline-field label {
     display:inline; 
     padding:0; 
}

.search .inline-field .field { 
    display:inline; 
    margin:0; 
}

input, textarea, select { 
    font-family: "Trebuchet MS", Arial, sans-serif; 
    font-size:12px; 
}

.search-submit { 
    width:70px;
    background:#8b0000;
    border:0; 
    color:#fff; 
    height:27px; 
    display:block; 
    line-height:26px; 
    cursor:pointer; 
    margin:12px 0 10px 0;
}